*, ::before, ::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

:root {
  --gold: #d7b56d;
}

.header {
  background-image: url(../img/bg.webp);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__block-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.header__title {
  max-width: 520px;
  font: normal 28px/33.6px "Kudryashev", sans-serif;
  text-align: center;
}

.header__subtitle {
  color: var(--gold);
  font: normal 28px/33.6px "Kudryashev", sans-serif;
  text-align: center;
  margin-bottom: 15px;
}

.header__accuracy {
  font: 500 14px/1.2 "Montserrat", sans-serif;
  border: 2px dashed #434242;
  border-radius: 3px;
  min-height: 35px;
  max-width: 175px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.header__benefits {
  display: flex;
  gap: 35px;
  margin-bottom: 28px;
}

.header__benefits-item {
  display: flex;
  align-items: start;
  gap: 23px;
}

.header__benefits-img {
  transform: scale(1.9);
  margin-top: 8px;
}

.header__benefits-text {
  font: 400 16px/20px "Montserrat", sans-serif;
  max-width: 223px;
}

.header__benefits-item:first-child .header__benefits-text {
  max-width: 179px;
}

.header__squares {
  display: flex;
  max-width: 466px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 35px;
}

.header__squares-item {
  max-width: 198px;
  width: 100%;
  min-height: 96px;
  background: #E3E2DF;
  border-radius: 10px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__squares-num {
  font: 700 18px/17.1px "Montserrat", sans-serif;
  margin-bottom: 10px;
}

.header__squares-item:last-child .header__squares-num {
  font: 600 28px/26.6px "Montserrat", sans-serif;
}

.header__squares-text {
  font: 400 15px/17.7px "Kudryashev", sans-serif;
  max-width: 78px;
  text-align: center;
}

.header__squares-item:last-child .header__squares-text {
  max-width: 190px;
}

.header__squares-text-Y {
  color: #ff0000;
}

.header__text {
  font: 400 18px/22.5px "Montserrat", sans-serif;
  max-width: 440px;
  text-align: center;
  margin-bottom: 24px;
}

.header__squares-text-gold {
  font: 600 18px/22.5px "Montserrat", sans-serif;
  color: var(--gold);
}