*, ::before, ::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

input[type="radio"], input[type="checkbox"] {
  display: none;
}

:root {
  --gold: #d7b56d;
}

.fancybox__caption {
  display: none;
}

.container {
  max-width: 927px;
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
}

.header {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 100%, rgba(255, 255, 255, 0.8) 100%), url(../img/bg.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__menu {
  height: 60px;
  background: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 0 16px;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.menu__logo {
  height: 35px;
}

.menu__btn {
  background: transparent;
  color: var(--gold);
  text-decoration: underline;
  font: 500 11px/1 "Montserrat", sans-serif;
  max-width: 90px;
  width: max-content;
  text-align: left;
}

.menu__link {
  display: inline-flex;
  background-image: url(../img/phone.svg);
  background-repeat: no-repeat;
  font-size: 8px;
  line-height: 10px;
  min-width: 91px;
  min-height: 26px;
  color: #fff;
  font-weight: 500;
  font-family: "Montserrat";
  background-color: var(--gold);
  border-radius: 5px;
  position: relative;
  z-index: 10;
  align-items: center;
  justify-content: center;
  background-position: 11px 9px;
  padding: 2px 0 0 11px;
}

.menu__link:hover {
  transition: ease 500ms;
  background-color: #d3ac58;
  text-decoration: none;
}

.menu__link::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 0.5px solid #434242;
  z-index: 1;
}

.menu__link:hover::after {
  left: -1px;
  top: -1px;
}

.header__container {
  margin-bottom: 40px;
  position: relative;
  max-width: 908px;
}

.header__swiper {
  height: 250px;
  position: relative;
  overflow: hidden;
}

.header__swiper-slide {
  border-radius: 0 0 60px 60px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  width: 100% !important;
}

.header__swiper-img {
  width: 100% !important;
  top: 0;
  top: 50%;
}

.header__swiper-button-prev, .header__swiper-button-next {
  color: #2b2a28;
  transform: scale(.6);
}

.header__swiper-button-prev {
  left: 80px;
}

.header__swiper-button-next {
  right: 80px;
}

.header__logo-container {
  width: 148px;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 5;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50px 50px 0 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
  background-image: linear-gradient(rgba(43, 42, 40, 0.1) -41.33%, rgba(255, 255, 255, 0.9) 100%);
}

.header__logo {
  height: 37px;
}

.header__block-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.header__title {
  max-width: 520px;
  font: normal 28px/33.6px "Kudryashev", sans-serif;
  text-align: center;
  margin-bottom: 15px;
}

.header__subtitle {
  color: var(--gold);
  font: normal 28px/33.6px "Kudryashev", sans-serif;
  text-align: center;
  margin-bottom: 15px;
}

.header__accuracy {
  font: 500 14px/1.2 "Montserrat", sans-serif;
  border: 2px dashed #434242;
  border-radius: 3px;
  min-height: 35px;
  max-width: 175px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.header__benefits {
  display: flex;
  gap: 35px;
  margin-bottom: 28px;
}

.header__benefits-item {
  display: flex;
  align-items: start;
  gap: 23px;
}

.header__benefits-img {
  transform: scale(1.9);
  margin-top: 8px;
}

.header__benefits-text {
  font: 400 16px/20px "Montserrat", sans-serif;
  max-width: 223px;
}

.header__benefits-item:first-child .header__benefits-text {
  max-width: 179px;
}

.header__squares {
  display: flex;
  max-width: 466px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 35px;
}

.header__squares-item {
  max-width: 198px;
  width: 100%;
  min-height: 96px;
  background: #E3E2DF;
  border-radius: 10px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__squares-num {
  font: 700 18px/17.1px "Montserrat", sans-serif;
  margin-bottom: 10px;
}

.header__squares-item:last-child .header__squares-num {
  font: 600 28px/26.6px "Montserrat", sans-serif;
}

.header__squares-text {
  font: 400 15px/17.7px "Kudryashev", sans-serif;
  max-width: 78px;
  text-align: center;
}

.header__squares-item:last-child .header__squares-text {
  max-width: 190px;
}

.header__squares-text-Y {
  color: #ff0000;
}

.header__text {
  font: 400 18px/22.5px "Montserrat", sans-serif;
  max-width: 440px;
  text-align: center;
  margin-bottom: 24px;
}

.header__squares-text-gold {
  font: 600 18px/22.5px "Montserrat", sans-serif;
  color: var(--gold);
}

.header__count-link {
  color: #fff;
  font: 700 16px/1.2 "Montserrat", sans-serif;
  display: inline-block;
  background: var(--gold);
  max-width: 342px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 4px 0;
  position: relative;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  margin-bottom: 25px;
}

.header__count-link::before {
  content: "";
  display: inline;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--gold);
  z-index: 1;
  opacity: .5;
  border-radius: 20px;
  animation: pulsar 1s infinite;
}

.header__count-link::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 64px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  transform: translateX(-100%) skew(307deg);
  opacity: 0.4;
  z-index: 0;
  left: 0;
  animation: glare 1.2s infinite ease-in-out;
}

.header__count-link-text, .header__count-black {
  position: relative;
}

.header__count-black {
  color: #000;
  position: relative;
}

.hader__and {
  display: flex;
  flex-direction: column;
  padding: 0 130px 0 32px;
  position: relative;
  margin-bottom: 50px;
}

.header__and-plus {
  width: 28px;
  fill: var(--gold);
  position: absolute;
  left: 0;
  top: 2px;
}

.header__and-title {
  font: 500 14px/1 "Montserrat", sans-serif;
  margin-bottom: 20px;
}

.header__and-text {
  font: 400 14px/1 "Montserrat", sans-serif;
  max-width: 323px;
}

.header__and-img {
  position: absolute;
  width: 110px;
  bottom: 0;
  right: 0;
}

.iteration {
  margin-bottom: 50px;
}

.iteration__scale {
  max-width: 724px;
  height: 40px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 53px;
}

.iteration__scale-line {
  position: absolute;
  height: 5px;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #E3E2DF;
}

.iteration__point {
  height: 21px;
  width: 21px;
  border-radius: 50%;
  background: #E3E2DF;
  transition: ease 1s;
  position: relative;
  z-index: 10;
}

.iteration__point-active {
  border: 3px solid #434242;
  height: 35px;
  width: 35px;
  background: #fff;
}

.iteration__point-active::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  background: var(--gold);
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.iteration__point-active::after {
  content: "";
  display: inline-block;
  width: 100vw;
  height: 5px;
  padding: 1px 0;
  background: #434242;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  right: calc(100% + 3px);
  top: 50%;
  z-index: -10;
  transform: translateY(-50%);
}

.iteration__point-viseted {
  border: 3px solid #434242;
  height: 35px;
  width: 35px;
  background: #fff;
}

.iteration__point-viseted::before {
  content: "";
  display: inline-block;
  background: #434242;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.subquestions {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.qustions {
  margin-bottom: 40px;
  max-width: 748px;
  width: 100%;
}

.qustions__header {
  position: relative;
}

.qustions__title {
  font: 500 22px/27.5px "Montserrat", sans-serif;
  margin: 0 auto;
  max-width: 350px;
  text-align: center;
  margin-bottom: 30px;
  position: absolute;
  opacity: 0;
}

.qustions__title-on {
  position: relative;
  opacity: 1;
  transition: .4s ease;
}

.qustions__block {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  margin-bottom: 25px;
  min-height: 351px;
}

.qustions__container {
  position: relative;
  overflow: hidden;
}

.qustions__item {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.qustions__item-on {
  position: relative;
  opacity: 1;
  z-index: 10;
  transition: .8s ease;
}

.qustions__images {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.qustions__card {
  width: 184px;
  border: 1px solid #434242;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
}

.qustions__img-container {
  border: 1px solid #434242;
  border-radius: 15px;
  max-width: 150px;
  width: 100%;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 15px;
}

.qustions__img-container-full {
  height: 115px;
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid #000;
  position: relative;
  display: inline-block;
}

.qustions__card-loop {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.qustions__card-loop-img {
  height: 100%;
  width: 100%;
}

.qustions__img {
  height: 100%;
  width: 100%;
}

.qustions__text {
  font: 400 10px/1 "Montserrat", sans-serif;
  display: inline-block;
  padding-left: 29px;
  margin: 0 15px 15px;
  position: relative;
}

.qustions__text::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: inline-block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 1px solid #434242;
}

.qustions__text::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #E3E2DF;
}

.qustions__card-radio:checked~.qustions__text::after {
  background: var(--gold);
}

.qustions__field {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.qustions__label {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 25px;
}

.qustions__input {
  width: 119px;
  height: 35px;
  border: 0.5px solid #434242;
  border-radius: 5px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
}

.qustions__input-text {
  font-family: "Montserrat";
  font-size: 14px;
}

.qustions__text-field {
  font: 400 12px/1 "Montserrat", sans-serif;
  display: inline-block;
  padding-left: 29px;
  position: relative;
  margin-bottom: 25px;
}

.qustions__text-field::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: inline-block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 1px solid #434242;
}

.qustions__text-field::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #E3E2DF;
}

.qustions__card-radio:checked~.qustions__text-field::after {
  background: var(--gold);
}

.qustions__field-next {
  opacity: 1;
  display: flex;
  background-image: url(../img/arrow-next.svg);
  background-repeat: no-repeat;
  background-position: 105px 14px;
  padding-right: 25px;
  text-decoration: underline;
  font-size: 12px;
  min-width: 139px;
  min-height: 35px;
  color: #FFFFFF;
  font-family: "Montserrat";
  background-color: #D7B56D;
  border-radius: 5px;
  position: relative;
  z-index: 10;
  align-items: center;
  justify-content: center;
  transition: ease 500ms;
}

.qustions__field-next::before {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  transition: ease 1000;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 0.5px solid #434242;
  z-index: 1;
  display: inline-block;
}

.qustions__field-next:hover {
  transition: ease 500ms;
  background-color: #d3ac58;
}

.qustions__field-next:hover::before {
  left: -1px;
  top: -1px;
}

.qustions__field-next:disabled {
  opacity: 0;
  cursor: default;
}

.qustions__table {
  border-radius: 10px;
  border: 1px solid #434242;
  overflow: hidden;
  max-width: 288px;
  width: 100%;
}

.qustions__table-header {
  background: url("../img/copybook.webp") 0 0/304px;
  padding: 20px 20px 13px;
}

.qustions__table-title {
  font: 600 14px/1.25 "Montserrat", sans-serif;
  margin-bottom: 15px;
}

.qustions__table-parameter {
  font: 500 14px/1.25 "Montserrat", sans-serif;
  margin-bottom: 7px;
}

.qustions__table-parameter-off {
  display: none;
}

.qustions__table-main {
  padding: 20px;
  background: #E3E2DF;
}

.qustions__table-main-title {
  font: 600 14px/1.25 "Montserrat", sans-serif;
  margin-bottom: 15px;
}

.qustions__table-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.qustions__table-list-item {
  padding-left: 30px;
  font: 500 12px/1.25 "Montserrat", sans-serif;
  list-style-type: none;
  position: relative;
}

.qustions__table-list-item::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url("../img/checkbox6.svg");
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}

.qustions__table-footer {
  padding: 0 20px;
}

.qustions__table-footer-text {
  min-height: 40px;
  text-decoration: underline;
  font: 600 12px/1.25 "Montserrat", sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qustions__back {
  display: flex;
  background-repeat: no-repeat;
  background-position: 37px 14px;
  padding-left: 25px;
  text-decoration: underline;
  font-size: 12px;
  width: 139px;
  min-height: 35px;
  color: #fff;
  font-family: "Montserrat";
  background-color: #D7B56D;
  background-image: url(../img/arrow-back.svg);
  border-radius: 5px;
  position: relative;
  z-index: 10;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .4 ease;
}

.qustions__back-on {
  opacity: 1;
}

.qustions__back::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 0.5px solid #434242;
  z-index: 1;
}

.qustions__back:hover {
  transition: ease 500ms;
  background-color: #d3ac58;
}

.qustions__back:hover::after {
  left: -1px;
  top: -1px;
}

.subquestions-off {
  display: none;
}

.subquestions__title {
  font: 600 22px/27.5px "Montserrat", sans-serif;
  margin-bottom: 20px;
  text-align: center;
}

.subquestions__subtitle {
  text-align: center;
  margin: 0 auto 10px;
  font: 600 18px/1.2 "Montserrat", sans-serif;
  max-width: 460px;
}

.subquestions__list {
  max-width: 324px;
  margin: 0 auto 35px;
  position: relative;
}

.subquestions__list-title {
  padding-left: 30px;
  margin-bottom: 15px;
  font: 600 16px/20px "Montserrat", sans-serif;
  color: #434242;
}

.subquestions__list-item {
  padding-left: 30px;
  font: 500 14px/1.3 "Montserrat", sans-serif;
  margin-bottom: 11px;
  position: relative;
}

.subquestions__list-item::before {
  content: "";
  background-image: url("../img/checkbox2.svg");
  background-size: 100% 100%;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
}

.subquestions__list-item:last-child {
  margin-bottom: 0;
}

.subquestions__phone {
  background: url("../img/iphone.png");
  background-size: 100% 100%;
  width: 300px;
  height: 548px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  transform: rotate(-5deg);
  position: absolute;
  left: -345px;
  top: -37px;
}

.subquestions__phone-video {
  width: 70%;
  height: 68%;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subquestions__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subquestions__form-title {
  text-align: center;
  color: #434242;
  font: 600 16px/20px "Montserrat", sans-serif;
  margin-bottom: 35px;
}

.subquestions__form-container {
  display: flex;
  max-width: 250px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 35px;
}

.subquestions__form-text {
  margin: 7px 0 10px;
}

.subquestions__form-variant {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.subquestions__form-cradio circle {
  fill: #D3D3D3;
}

.subquestions__form-cradio path {
  fill: #ABABAB;
}

.subquestions__form-radio:checked~.subquestions__form-cradio circle {
  fill: #80DF3B;
}

.subquestions__form-radio:checked~.subquestions__form-cradio path {
  fill: #fff;
}

.subquestions__form-viber, .subquestions__form-whatsapp, .subquestions__form-telegram {
  fill: #BDBDBD;
}

.subquestions__form-radio:checked~.subquestions__form-viber {
  fill: #76449c;
}

.subquestions__form-radio:checked~.subquestions__form-whatsapp {
  fill: #33bb47;
}

.subquestions__form-radio:checked~.subquestions__form-telegram {
  fill: #0088cc;
}

.subquestions__input {
  text-align: center;
  max-width: 250px;
  height: 40px;
  width: 100%;
  border: 1px solid #434242;
  border-radius: 5px;
  margin-bottom: 15px;
  font: 400 14px/normal "Montserrat", sans-serif;
}

.agree {
  max-width: 250px;
  width: 100%;
  display: flex;
  align-items: start;
  margin-bottom: 15px;
}

.agree-text {
  font: 500 9px/1 "Montserrat", sans-serif;
  padding-left: 20px;
  position: relative;
}

.agree-text::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid #434242;
  position: absolute;
  left: 0;
}

.agree-text::after {
  content: "";
  display: inline-block;
  background-image: url("../img/checkbox3.svg");
  background-size: 100% 100%;
  height: 9px;
  width: 9px;
  position: absolute;
  left: 3px;
  top: 3px;
  opacity: 0;
  transition: opacity .2s ease;
}

.agree-checkbox:checked+.agree-text::after {
  opacity: 1;
}

.submit {
  max-width: 250px;
  width: 100%;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  background: var(--gold);
  font: 500 12px/15px "Montserrat", sans-serif;
  color: #434242;
  transition: ease 500ms;
  position: relative;
}

.submit-active::before {
  content: "";
  display: inline;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--gold);
  z-index: 1;
  opacity: .5;
  border-radius: 20px;
  animation: pulsar 1s infinite;
}

.submit:disabled {
  background: #e3e2df;
  opacity: 0.7;
}

.submit:hover {
  background: var(--gold);
}

.submit::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 0.5px solid #434242;
}

.submit:hover::after {
  left: -1px;
  top: -1px;
}

.lock {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.lock-off {
  display: none;
}

.lock__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 748px;
  width: 100%;
}

.lock__text {
  font: 700 22px/27px "Montserrat", sans-serif;
  background: var(--gold);
  border-radius: 10px;
  padding: 20px 16px 20px 157px;
  min-height: 65px;
  max-width: 748px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.lock__text::before {
  content: url("../img/lock-opened.webp");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}

.lock__animation .lock__container {
  padding: 16px;
  max-width: 1060px;
  min-height: 180px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 33px 0px;
  border-radius: 10px;
  position: relative;
  animation: up-down 1s linear 0s infinite normal forwards;
}

.lock__animation .lock__text::before {
  content: "";
  left: 68px;
  width: 57px;
  height: 76px;
  display: inline-block;
  background-image: url("../img/lock.webp");
  background-size: 100% 100%;
}

.thanks {
  display: flex;
  gap: 0 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.thanks-off {
  display: none;
}

.thanks__owner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 10px 20px;
  max-width: 200px;
  box-shadow: 0px 7px 33px 0px #00000026;
  border-radius: 10px;
}

.thanks__owner-img {
  max-width: 156px;
  max-height: 119px;
  margin-bottom: 10px;
}

.thanks__owner-name {
  text-align: center;
  margin-bottom: 10px;
  font: 500 14px/1.2 "Montserrat", sans-serif;
}

.thanks__owner-text {
  font: 400 11px/1.2 "Montserrat", sans-serif;
  text-align: center;
}

.thanks__text {
  max-width: 300px;
}

.thanks__text-title {
  font: 500 22px/1.3 "Montserrat", sans-serif;
  margin-bottom: 20px;
}

.thanks__text-subtitle {
  font: 400 16px/1.2 "Montserrat", sans-serif;
}

.results {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.results-off {
  display: none;
}

.results .container {
  display: flex;
}

.results__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #000;
  background: #f8f8f8;
  padding: 20px 19px;
}

.results__item:first-child {
  border-radius: 10px 0 0 10px;
}

.results__item:nth-child(2) {
  border-left: none;
  border-right: none;
  background: #fff;
}

.results__item:last-child {
  border-radius: 0 10px 10px 0;
}

.results__point {
  font: 500 14px/1.3 "Montserrat", sans-serif;
  margin-left: 19px;
}

.results__title {
  font: 700 14px/1.3 "Montserrat", sans-serif;
  margin-bottom: 15px;
}

.results__subtitile {
  background: var(--gold);
  margin-bottom: 15px;
  font: 500 12px/1.3 "Montserrat", sans-serif;
  text-align: center;
  width: 100%;
}

.results__text-cost {
  font: 400 14px/1.3 "Montserrat", sans-serif;
  text-align: center;
}

.results__block {
  display: flex;
  gap: 0 15px;
  align-items: start;
}

.results__img-container {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.results__img {
  height: 100%;
}

.results__text-recall {
  font: 400 13px/1.3 "Montserrat", sans-serif;
}

.present {
  margin-bottom: 85px;
}

.present-off {
  display: none;
}

.present__title {
  text-align: center;
  margin-bottom: 50px;
  font: 600 22px/1.25 "Montserrat", sans-serif;
  color: #434242;
}

.present__block {
  display: flex;
  align-items: center;
}

.present__list {
  max-width: 539px;
  width: 100%;
  margin-right: 68px;
}

.present__list-item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 30px;
  align-items: start;
}

.present__list-item::before {
  content: "";
  background-image: url("../img/checkbox2.svg");
  background-size: 100% 100%;
  display: inline-block;
  width: 19px;
  height: 19px;
  position: absolute;
  left: 0;
  top: 2px;
}

.present__list-item:nth-child(1)::after, .present__list-item:nth-child(2)::after {
  content: "";
  display: inline-block;
  background-image: url(../img/border.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 2px;
  margin: 20px 0;
  width: 100%;
}

.present__list-title {
  font: 500 16px/1.25 "Montserrat", sans-serif;
  margin-bottom: 10px;
}

.present__link {
  display: inline-block;
  background: var(--gold);
  color: #fff;
  max-width: 139px;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font: 500 12px/1.25 "Montserrat", sans-serif;
  transition: ease 500ms;
}

.present__link:hover {
  background: #d3ac58;
}

.present__text {
  font: 400 14px/1.25 "Montserrat", sans-serif;
  color: #434242;
  margin-bottom: 10px;
}

.present__text-strong {
  font: 600 16px/1.25 "Montserrat", sans-serif;
}

.present__form {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.present__form-title {
  text-align: center;
  font: 500 14px/1.25 "Montserrat", sans-serif;
  margin-bottom: 10px;
}

.present__form-subtitle {
  text-align: center;
  margin-bottom: 20px;
  font: 400 12px/1.25 "Montserrat", sans-serif;
}

.present__form-input {
  width: 100%;
  min-height: 40px;
  border: 0.5px solid #434242;
  border-radius: 5px;
  text-align: center;
  font: 400 14px/1.25 "Montserrat", sans-serif;
  margin-bottom: 15px;
}

.present__form-input[name="name"] {
  display: none;
}

.present__form .submit {
  max-width: none;
  width: 100%;
}

.banner {
  width: 100%;
  min-height: 90px;
  padding: 23px;
  background: var(--gold);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.banner-off {
  display: none;
}

.banner__text {
  font: 500 18px/1.25 "Montserrat", sans-serif;
  text-align: center;
  max-width: 440px;
}

.exit {
  padding-bottom: 70px;
  border-bottom: 1px solid #43424280;
  margin-bottom: 70px;
}

.exit-off {
  display: none;
}

.exit__title {
  text-align: center;
  font: 600 22px/1.25 "Montserrat", sans-serif;
  color: #434242;
  margin-bottom: 50px;
}

.exit__block {
  display: flex;
  align-items: center;
}

.exit__list {
  max-width: 539px;
  width: 100%;
  margin-right: 68px;
}

.exit__list-title {
  font: 600 18px/1.25 "Montserrat", sans-serif;
  margin-bottom: 40px;
}

.exit__list-item {
  padding-left: 30px;
  font: 400 16px/1.25 "Montserrat", sans-serif;
  position: relative;
}

.exit__list-strong {
  font: 500 16px/1.25 "Montserrat", sans-serif;
}

.exit__list-item::before {
  content: "";
  background-image: url("../img/checkbox2.svg");
  background-size: 100% 100%;
  display: inline-block;
  width: 19px;
  height: 19px;
  position: absolute;
  left: 0;
  top: 2px;
}

.exit__list-item::after {
  content: "";
  display: inline-block;
  background-image: url(../img/border.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 2px;
  margin: 20px 0;
  width: 100%;
}

.exit__list-item:last-child:after {
  display: none;
}

.exit__form {
  width: 288px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exit__form-text {
  text-align: center;
  font: 400 12px/1.25 "Montserrat", sans-serif;
  margin-bottom: 20px;
}

.exit__form-strong {
  font: 500 12px/1.25 "Montserrat", sans-serif;
}

.exit__form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  text-align: center;
  font: 400 12px/1.25 "Montserrat", sans-serif;
  border: 1px solid #000;
  border-radius: 5px;
}

.exit__form-input[name="name"] {
  display: none;
}

.work {
  padding-bottom: 105px;
  margin-bottom: 70px;
  border-bottom: 1px solid #43424280;
}

.work-off {
  display: none;
}

.work__title {
  max-width: 500px;
  width: 100%;
  font: 400 14px/1.25 "Montserrat", sans-serif;
  margin: 0 auto 25px;
}

.work__swiper {
  overflow: hidden;
  padding: 45px 0;
  position: relative;
}

.work__swiper-slide {
  position: relative;
  transition: all .35s ease;
}

.work__swiper-slide::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .2;
}

.work__swiper .swiper-slide-active::before {
  display: none;
}

.work__swiper .swiper-slide-active {
  transform: scale(1.4);
  z-index: 5;
}

.work__swiper-img {
  width: 100%;
}

.work__swiper-slide-click {
  position: fixed;
  top: 0;
}

.example {
  padding-bottom: 70px;
  margin-bottom: 70px;
  border-bottom: 1px solid #43424280;
}

.example-off {
  display: none;
}

.example .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__title {
  text-align: center;
  margin-bottom: 50px;
  font: 600 22px/1.25 "Montserrat", sans-serif;
  max-width: 460px;
}

.example__img {
  margin-bottom: 30px;
  max-width: 300px;
}

.example__text {
  text-align: center;
  font: 500 16px/1.25 "Montserrat", sans-serif;
  text-align: center;
  max-width: 300px;
}

.quality {
  padding-bottom: 55px;
  margin-bottom: 70px;
  border-bottom: 1px solid #43424280;
}

.quality-off {
  display: none;
}

.quality .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quality__title {
  font: 600 22px/1.25 "Montserrat", sans-serif;
  max-width: 320px;
  text-align: center;
  margin-bottom: 50px;
}

.quality__list {
  max-width: 659px;
  width: 100%;
}

.quality__list-item {
  padding-left: 30px;
  font: 500 16px/1.25 "Montserrat", sans-serif;
  list-style-type: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.quality__list-description {
  font: 400 16px/1.25 "Montserrat", sans-serif;
}

.quality__list-item::before {
  content: "";
  background-image: url("../img/checkbox2.svg");
  background-size: 100% 100%;
  display: inline-block;
  width: 19px;
  height: 19px;
  position: absolute;
  left: 0;
  top: 2px;
}

.quality__list-item::after {
  content: "";
  display: inline-block;
  background-image: url(../img/border.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 2px;
  margin: 20px 0;
  width: 100%;
}

.quality__list-item:last-child:after {
  display: none;
}

.quality__sublist {
  margin: 10px 0 0 9px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.quality__sublist-item {
  font: 400 12px/1.25 "Montserrat", sans-serif;
  list-style-type: disc;
}

.feedback {
  padding-bottom: 30px;
  border-bottom: 1px solid #43424280;
}

.feedback-off {
  display: none;
}

.feedback__swiper {
  overflow: hidden;
  padding: 0 90px 80px;
  position: relative;
}

.feedback__title {
  font: 600 22px/1.25 "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

.feedback__swiper-slide {
  display: flex;
  gap: 40px;
}

.feedback__img {
  width: 288px;
  border-radius: 20px;
}

.feedback__block {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.feedback__name {
  font: 500 18px/1.25 "Montserrat", sans-serif;
}

.feedback__point {
  font: 400 14px/1.25 "Montserrat", sans-serif;
}

.feedback__point-strong {
  font: 500 14px/1.25 "Montserrat", sans-serif;
}

.feedback__text {
  font: 400 14px/1.25 "Montserrat", sans-serif;
}

.feedback__swiper-button-prev, .feedback__swiper-button-next {
  color: var(--gold);
  transition: color .5s ease;
  transform: scale(.6);
  font-weight: 900;
}

.feedback__swiper-button-prev:hover, .feedback__swiper-button-next:hover {
  color: #b7b7b7;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid var(--gold);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: var(--gold);
}

.youtube {
  padding: 85px 0;
  background: #EFEFEF;
  border-bottom: 1px solid #43424280;
  margin-bottom: 55px;
}

.youtube-off {
  display: none;
}

.youtube .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.youtube__title {
  font: 500 22px/1.25 "Montserrat", sans-serif;
  text-align: center;
  position: relative;
  max-width: 380px;
  padding-bottom: 55px;
}

.youtube__arrow {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 12px;
}

.youtube__link-svg {
  transform: scale(1.2);
}

.other {
  padding-bottom: 45px;
}

.other-off {
  display: none;
}

.other .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.other__title {
  font: 600 22px/1.25 "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 50px;
  max-width: 350px;
}

.other__block {
  display: flex;
  align-items: start;
  gap: 105px;
}

.other__list {
  max-width: 373px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.other__list-item {
  font: 400 16px/1.25 "Montserrat", sans-serif;
}

.other__list-item-strong {
  font: 500 16px/1.25 "Montserrat", sans-serif;
  color: #434242;
}

.footer {
  background: #434242;
  padding: 25px 0;
  margin-top: 40px;
}

.footer .container {
  max-width: 748px;
  display: flex;
  justify-content: space-between;
}

.footer__left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__link {
  color: #eceff1;
  font: 400 12px/1.25 "Montserrat", sans-serif;
  border-bottom: 1px solid transparent;
  transition: border .3s ease;
  width: max-content;
}

.footer__link-end {
  align-self: end;
}

.footer__link:hover {
  border-bottom: 1px solid #eceff1;
}

.video {
  width: 140px;
  height: 242px;
  position: fixed;
  z-index: 10;
  left: 16px;
  bottom: 16px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--gold);
  transition: .2s ease;
}

.video__radio:not(:checked)+.video:hover {
  bottom: 24px;
  left: 24px;
}

.video__radio:checked+.video {
  width: 320px;
  height: 540px;
}

.video-label {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
  left: 0;
}

.video-label::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  opacity: .4;
}

.video__open-close {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background: var(--gold);
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.video__radio:not(:checked)+.video:hover .video__open-close {
  opacity: .5;
}

.video__radio:not(:checked)+.video .video__close {
  display: inline-block;
}

.video__radio:checked+.video .video__close {
  display: none;
}

.video__radio:not(:checked)+.video .video__open {
  display: none;
}

.video__radio:checked+.video .video__open {
  display: inline-block;
}

.video__radio:checked+.video .video__open-close {
  opacity: .5;
}

.video__radio+.video:hover .video__open-close:hover {
  transform: scale(1.2);
  opacity: 1;
}

.video__radio:checked+.video .video-label::before {
  display: none;
}

.video__item {
  width: 100%;
}

.video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #000;
  width: 29px;
  height: 29px;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
  z-index: 2;
}

.video-play:before,
.video-play:after {
  content: '';
  position: absolute;
  border: 1px solid #E11919;
  left: -5px;
  right: -5px;
  top: -5px;
  bottom: -5px;
  border-radius: 50%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  opacity: 0;
  -webkit-animation: pulse 1.5s linear infinite;
  animation: pulse 1.5s linear infinite;
}

.video-play:before {
  -webkit-animation-delay: .5s;
  animation-delay: .5s
}

.video__radio:checked+.video .video-play {
  display: none;
}

.video__link {
  display: inline-block;
  padding: 7px 4px;
  width: 130px;
  height: 25px;
  background: linear-gradient(180deg, #D7B56D 0%, #AE8A3D 100%);
  ;
  border: 1px solid #D7B56D;
  overflow: hidden;
  position: absolute;
  color: #fff;
  bottom: 12px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  border-radius: 10px;
  font: 600 8px/1 "Montserrat", sans-serif;
  text-transform: uppercase;
}

.video__link::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 64px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  transform: translateX(-120%) skew(307deg);
  opacity: 0.4;
  z-index: 0;
  left: 0;
  animation: glare 1.4s infinite ease-in-out;
}

.header__logo-container-text {
  display: none;
  font: 500 9px/1.25 "Montserrat", sans-serif;
}

.header__benefits-img {
  width: 17px;
  height: 17px;
}

.pop-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -15;
  background: #000000da;
  padding: 6px;
  opacity: 0;
  transition: opacity .2s ease;
}

.pop-on__form {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
  max-width: 286px;
}

.pop-on__close {
  position: absolute;
  width: 24px;
  height: 24px;
  background: transparent;
  top: 10px;
  right: 10px;
  stroke: grey;
  transition: stroke .2s ease;
}

.pop-on__close:hover {
  stroke: black;
}

.pop-on__title {
  text-align: center;
  font: 600 14px/1.25 "Montserrat", sans-serif;
  margin: 13px;
}

.pop-on__text {
  font: 500 12px/1.25 "Montserrat", sans-serif;
  margin-bottom: 10px;
}

.pop-on__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  width: 100%;
  list-style-type: none;
}

.pop-on__list-item {
  font: 400 10px/1.25 "Montserrat", sans-serif;
}

.pop-on__form-input[name="name"] {
  display: none;
}

.pop-on__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid #434242;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  font: 400 10px/1.25 "Montserrat", sans-serif;
}

.pop-thanks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -15;
  background: #000000da;
  padding: 6px;
  opacity: 0;
  transition: opacity .2s ease;
}

.pop-thanks__container {
  padding: 25px 20px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}

.pop-thanks__close {
  position: absolute;
  width: 24px;
  height: 24px;
  background: transparent;
  top: 10px;
  right: 10px;
  stroke: grey;
  transition: stroke .2s ease;
}

.pop-thanks__close:hover {
  stroke: black;
}

.pop-thanks__title {
  font: 600 14px/1.25 "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 13px;
}

.pop-thanks__text {
  font: 500 12px/1.25 "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

.pop-on-on {
  z-index: 15;
  opacity: 1;
}

.body-pop {
  overflow: hidden;
}

@media (max-width: 1018px) {
  .subquestions__phone {
    left: -269px;
  }
}

@media (max-width: 866px) {
  .subquestions__phone {
    position: relative;
    top: 0;
    left: 0;
    transform: rotate(0);
    margin-bottom: 0;
    width: 202px;
    height: 370px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .qustions__block {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .qustions__table {
    width: 100%;
    max-width: none;
  }

  .qustions__images {
    justify-content: center;
  }

  .lock__animation .lock__container {
    padding: 0;
    box-shadow: none;
  }

  .lock__text {
    max-width: none;
    border-radius: 0;
  }

  .results .container {
    flex-direction: column;
  }

  .results__item:first-child {
    border-radius: 10px 10px 0 0;
  }

  .results__item:nth-child(2) {
    border: none;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }

  .results__item:last-child {
    border-radius: 0 0 10px 10px;
  }

  .present__list {
    margin: 0;
  }

  .present__block {
    flex-direction: column;
    gap: 40px;
  }

  .exit__block {
    flex-direction: column;
    gap: 40px;
  }

  .exit__list {
    margin: 0;
    width: 100%;
    max-width: none;
  }

  .exit__form {
    width: 100%;
  }

  .exit__form-input {
    max-width: 250px;
  }

  .work__swiper-slide::before {
    display: none;
  }

  .work__swiper .swiper-slide-active {
    transform: scale(1);
  }

  .work__swiper {
    max-width: 588px;
    margin: 0 auto;
  }

  .feedback__swiper {
    padding: 0 0 80px;
  }

  .feedback__swiper-slide {
    flex-direction: column;
    align-items: center;
  }

  .feedback__swiper-button-next, .feedback__swiper-button-prev {
    display: none;
  }
}

@media (max-width: 575px) {
  .header__swiper-button-prev, .header__swiper-button-next {
    display: none;
  }

  .header__menu {
    display: flex;
  }

  .header__logo-container {
    background-color: #DBDBDB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    height: 19px;
    box-shadow: none;
    background-image: none;
    border-radius: 10px;
    width: auto;
    left: 15px;
    bottom: 15px;
    transform: none;
  }

  .header__logo {
    display: none;
  }

  .header__container {
    margin-bottom: 10px;
  }

  .header__logo-container-text {
    display: inline-block;
  }

  .header__swiper-slide {
    border-radius: 0;
  }

  .header__swiper-slide {
    align-items: start;
  }

  .header__swiper {
    height: 180px;
  }

  .header__swiper-img {
    height: 100%;
  }

  .header__block-text {
    width: 100%;
  }

  .header__title {
    font-size: 24px;
    width: 100%;
    max-width: none;
    margin-bottom: 15px;
    line-height: 1.2;
  }

  .header__accuracy {
    min-height: auto;
    font-size: 11px;
    font-weight: 500;
    max-width: 140px;
  }

  .header__benefits-img {
    transform: scale(1.2);
  }

  .header__benefits-item {
    gap: 5px;
  }

  .header__benefits-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.25;
  }

  .header__squares {
    margin-bottom: 15px;
  }

  .header__squares-num {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
  }

  .header__squares-text {
    font-size: 11px;
    font-weight: 700;
    line-height: 1.25;
  }

  .header__squares-text-gold {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
  }

  .header__squares-item {
    width: 140px;
    min-height: auto;
    padding: 5px 0;
  }

  .header__text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 10px;
  }

  .header__count-link-text, .header__count-black {
    font-size: 12px;
    line-height: 1.25;
    font-weight: 700;
  }

  .header__and-title {
    font-size: 14;
    font-weight: 500;
  }

  .iteration__scale {
    gap: 33px;
  }

  .iteration__point {
    transform: scale(.5);
  }

  .qustions__title {
    font-size: 16px;
  }

  .qustions__images {
    gap: 10px;
  }

  .qustions__card {
    width: 135px;
  }

  .qustions__img-container {
    width: calc(100% - 20px);
    margin: 10px;
  }

  .lock__text {
    font-size: 14px;
    line-height: 1.25;
    padding: 20px 16px 20px 100px;
  }

  .lock__animation .lock__text::before {
    left: 30px;
    transform: translateY(-50%) scale(1.2);
  }

  .thanks {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .thanks__text-title {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 107%;
  }

  .thanks__text-subtitle {
    text-align: center;
    font-size: 12px;
    line-height: 125%;
    max-width: 285px;
  }

  .present__title {
    text-align: left;
    font-size: 16px;
    line-height: 125%;
    font-weight: 500;
    margin-bottom: 20px;
    padding-left: 30px;
  }

  .present__list-title {
    font-weight: 500;
    line-height: 141%;
    font-size: 14px
  }

  .present__text {
    font-size: 11px;
    line-height: 127%;
    font-weight: 400;
  }

  .present__text-strong {
    font-weight: 600;
    line-height: 141%;
    font-size: 14px
  }

  .banner__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 121%;
    max-width: 344px;
  }

  .exit {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .exit__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 125%;
    text-align: center;
    max-width: 623px;
  }

  .exit__title {
    margin-bottom: 20px;
  }

  .exit__list-title {
    margin-bottom: 15px;
    font-weight: 600;
    line-height: 121%;
    text-align: left;
  }

  .exit__list-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
  }

  .exit__list-strong {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
  }

  .exit__list-item::after {
    margin: 15px 0;
  }

  .work {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .work__swiper {
    padding: 0;
  }

  .example {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .example__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 125%;
    width: 100%;
    margin-bottom: 20px;
  }

  .example__img {
    margin-bottom: 20px;
  }

  .example__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 125%;
  }

  .quality {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .quality__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 125%;
    width: 100%;
    margin-bottom: 20px;
  }

  .quality__list-text {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
  }

  .quality__list-description {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
  }

  .quality__list-item::after {
    margin: 15px 0;
  }

  .quality__list-item {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
  }

  .feedback__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 125%;
    width: 100%;
    margin-bottom: 20px;
  }

  .feedback__block {
    gap: 12px;
  }

  .feedback__name {
    font-size: 16px;
    line-height: 20px;
  }

  .feedback__point-strong, .feedback__point {
    font-size: 12px;
  }

  .feedback__text {
    font-size: 12px;
  }

  .youtube__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 121%;
  }

  .other__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 125%;
    width: 100%;
    margin-bottom: 20px;
  }

  .other__block {
    gap: 15px;
    align-items: center;
  }

  .other__img {
    width: 140px;
  }

  .other__list-item {
    list-style-type: none;
    font-size: 11px;
  }

  .other__list-item-strong {
    font-size: 11px;
  }

  .video {
    width: 122px;
    height: 174px;
  }

  .video__radio:checked+.video {
    width: 122px;
    height: 174px;
    transform: scale(1.1);
  }

  .header__count-link {
    width: 250px;
  }

  .header__count-link::after {
    display: none;
  }
}


.gold-line {
  border-bottom: 2px solid var(--gold);
}

.gold-text {
  color: var(--gold);
}

@keyframes pulsar {
  0% {
    opacity: .8;
  }

  80% {
    opacity: 0;
    height: 175%;
    width: 115%;
  }

  85% {
    opacity: 0;
    height: 180%;
    width: 120%;
  }

  100% {
    opacity: 0;
    height: 180%;
    width: 120%;
  }
}

@keyframes glare {
  0% {
    opacity: 0;
    left: 0;
  }

  1% {
    opacity: 0.4;
    left: 0;
  }

  80% {
    left: 100%;
    transform: skew(307deg);
  }

  81% {
    left: 100%;
    opacity: 0;
    transform: skew(307deg);
  }

  100% {
    left: 100%;
    opacity: 0;
    transform: skew(307deg);
  }
}

@keyframes up-down {
  0% {
    top: 0;
  }

  25% {
    top: 10px;
  }

  50% {
    top: 0;
  }

  75% {
    top: -10px;
  }

  100% {
    top: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0
  }
}